In [2]:
import pandas as pd
from backtester import read_trader_log, read_submission_log

In [3]:
prices, trades = read_trader_log('logs/empty_submission.log')

In [4]:
resin_prices = prices[prices['product'] == 'RAINFOREST_RESIN']
resin_trades = trades[trades['symbol'] == 'RAINFOREST_RESIN']

In [13]:
resin_prices[resin_prices['timestamp'].isin(resin_trades['timestamp'])]

,day,timestamp,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss
0,-1,0,RAINFOREST_RESIN,10002,1,9996.0,2.0,9995.0,29.0,10004,2,10005.0,29.0,NaN,NaN,10003.0,0.0
23,-1,1100,RAINFOREST_RESIN,9996,2,9995.0,24.0,NaN,NaN,10004,2,10005.0,24.0,NaN,NaN,10000.0,0.0
35,-1,1700,RAINFOREST_RESIN,9996,2,9995.0,20.0,NaN,NaN,10002,1,10004.0,2.0,10005.0,20.0,9999.0,0.0
36,-1,1800,RAINFOREST_RESIN,10002,1,9996.0,1.0,9995.0,22.0,10004,1,10005.0,22.0,NaN,NaN,10003.0,0.0
41,-1,2000,RAINFOREST_RESIN,9996,2,9995.0,24.0,NaN,NaN,9998,1,10004.0,2.0,10005.0,24.0,9997.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3978,-1,198900,RAINFOREST_RESIN,10002,1,9998.0,8.0,9996.0,1.0,10004,1,10005.0,26.0,NaN,NaN,10003.0,0.0
3980,-1,199000,RAINFOREST_RESIN,9996,2,9995.0,23.0,NaN,NaN,10004,2,10005.0,23.0,NaN,NaN,10000.0,0.0
3988,-1,199400,RAINFOREST_RESIN,9996,1,9995.0,22.0,NaN,NaN,10004,1,10005.0,22.0,NaN,NaN,10000.0,0.0
3991,-1,199500,RAINFOREST_RESIN,10002,1,9996.0,1.0,9995.0,22.0,10004,1,10005.0,22.0,NaN,NaN,10003.0,0.0
3993,-1,199600,RAINFOREST_RESIN,9996,1,9995.0,21.0,NaN,NaN,10002,7,10004.0,1.0,10005.0,21.0,9999.0,0.0

In [5]:
resin_trades

      timestamp buyer seller            symbol   currency  price  quantity
2             0               RAINFOREST_RESIN  SEASHELLS  10004         1
3          1100               RAINFOREST_RESIN  SEASHELLS   9996         2
5          1700               RAINFOREST_RESIN  SEASHELLS  10002         1
6          1800               RAINFOREST_RESIN  SEASHELLS  10002         1
8          2000               RAINFOREST_RESIN  SEASHELLS   9998         1
...         ...   ...    ...               ...        ...    ...       ...
1074     198900               RAINFOREST_RESIN  SEASHELLS  10002         1
1076     199000               RAINFOREST_RESIN  SEASHELLS   9996         2
1083     199400               RAINFOREST_RESIN  SEASHELLS  10004         1
1084     199500               RAINFOREST_RESIN  SEASHELLS  10002         1
1087     199600               RAINFOREST_RESIN  SEASHELLS  10002         2

[481 rows x 7 columns]

In [21]:
algo_trades[algo_trades['symbol'] == 'RAINFOREST_RESIN']

,timestamp,buyer,seller,symbol,currency,price,quantity
0,0,,SUBMISSION,RAINFOREST_RESIN,SEASHELLS,10002,1
1,0,,SUBMISSION,RAINFOREST_RESIN,SEASHELLS,10003,1
4,1100,SUBMISSION,,RAINFOREST_RESIN,SEASHELLS,9997,2
5,1200,SUBMISSION,,RAINFOREST_RESIN,SEASHELLS,9998,1
6,1300,,SUBMISSION,RAINFOREST_RESIN,SEASHELLS,10002,1
...,...,...,...,...,...,...,...
1438,199200,,SUBMISSION,RAINFOREST_RESIN,SEASHELLS,10000,5
1440,199400,,SUBMISSION,RAINFOREST_RESIN,SEASHELLS,10003,1
1445,199500,,SUBMISSION,RAINFOREST_RESIN,SEASHELLS,10002,1
1446,199500,,,RAINFOREST_RESIN,SEASHELLS,10002,1
1447,199600,,SUBMISSION,RAINFOREST_RESIN,SEASHELLS,10002,2

In [ ]:
resin_prices[resin_prices['bid_price_1'] > 10000]

,day,timestamp,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss
0,-1,0,RAINFOREST_RESIN,10002,1,9996.0,2.0,9995.0,29.0,10004,2,10005.0,29.0,NaN,NaN,10003.0,0.0
27,-1,1300,RAINFOREST_RESIN,10002,1,9996.0,1.0,9995.0,30.0,10004,1,10005.0,30.0,NaN,NaN,10003.0,0.0
36,-1,1800,RAINFOREST_RESIN,10002,1,9996.0,1.0,9995.0,22.0,10004,1,10005.0,22.0,NaN,NaN,10003.0,0.0
74,-1,3700,RAINFOREST_RESIN,10002,1,9996.0,1.0,9995.0,23.0,10004,1,10005.0,23.0,NaN,NaN,10003.0,0.0
146,-1,7300,RAINFOREST_RESIN,10002,1,9996.0,2.0,9995.0,29.0,10004,2,10005.0,29.0,NaN,NaN,10003.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3915,-1,195700,RAINFOREST_RESIN,10002,1,9996.0,1.0,9995.0,21.0,10004,1,10005.0,21.0,NaN,NaN,10003.0,0.0
3920,-1,196000,RAINFOREST_RESIN,10002,2,9998.0,3.0,9995.0,22.0,10005,22,NaN,NaN,NaN,NaN,10003.5,0.0
3948,-1,197400,RAINFOREST_RESIN,10002,1,9995.0,20.0,NaN,NaN,10005,20,NaN,NaN,NaN,NaN,10003.5,0.0
3978,-1,198900,RAINFOREST_RESIN,10002,1,9998.0,8.0,9996.0,1.0,10004,1,10005.0,26.0,NaN,NaN,10003.0,0.0
3991,-1,199500,RAINFOREST_RESIN,10002,1,9996.0,1.0,9995.0,22.0,10004,1,10005.0,22.0,NaN,NaN,10003.0,0.0

In [19]:
algo_trades = read_submission_log('backtests/trader_v2_make.log')[1]