In [18]:
import prosperity3bt
import pandas as pd
import itertools

from prosperity3bt.runner import run_backtest
from prosperity3bt.models import TradeMatchingMode
from prosperity3bt.file_reader import FileSystemReader
from pathlib import Path

from importlib import reload

In [19]:
import ink_trader
reload(ink_trader)

trader = ink_trader.Trader()
data_path = "."
round_num = 1
day = -2

backtest_results = prosperity3bt.runner.run_backtest(trader, file_reader=FileSystemReader(Path(data_path)), round_num=round_num, day_num=day, print_output=False, trade_matching_mode=TradeMatchingMode.all, no_names=True, show_progress_bar=False)

In [ ]:
backtest_results.activity_logs[0].columns

rows = [row.columns for row in backtest_results.activity_logs]

columns = ['day', 'timestamp', 'product', 'bid_price_1', 'bid_volume_1',
       'bid_price_2', 'bid_volume_2', 'bid_price_3', 'bid_volume_3',
       'ask_price_1', 'ask_volume_1', 'ask_price_2', 'ask_volume_2',
       'ask_price_3', 'ask_volume_3', 'mid_price', 'profit_and_loss']

prices = pd.DataFrame(rows, columns=columns)

In [ ]:
backtest_results.trades[0].trade.

(KELP,  << , 2002, 1, 0)

In [42]:
columns = ['timestamp', 'buyer', 'seller', 'symbol', 'currency', 'price', 'quantity']

rows = [(row.trade.timestamp, row.trade.buyer, row.trade.seller, row.trade.symbol, 'SEASHELLS', row.trade.price, row.trade.quantity) for row in backtest_results.trades]

trades = pd.DataFrame(rows, columns=columns)

In [21]:
prices

,day,timestamp,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss
0,-2,0,KELP,1998,26,,,,,2002,26,,,,,2000.0,0.0
1,-2,0,RAINFOREST_RESIN,9996,1,9995,25,,,10004,1,10005,25,,,10000.0,0.0
2,-2,0,SQUID_INK,1998,26,,,,,2002,26,,,,,2000.0,0.0
3,-2,100,KELP,2000,5,1999,6,1998,20,2002,20,,,,,2001.0,0.0
4,-2,100,RAINFOREST_RESIN,10000,5,9995,20,,,10005,20,,,,,10002.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,-2,999800,RAINFOREST_RESIN,9996,1,9995,25,,,9998,1,10002,9,10004,1,9997.0,0.0
29996,-2,999800,SQUID_INK,2002,26,,,,,2004,3,2005,26,,,2003.0,4169.0
29997,-2,999900,KELP,2027,4,2026,32,,,2029,32,,,,,2028.0,0.0
29998,-2,999900,RAINFOREST_RESIN,9996,2,9995,30,,,10004,2,10005,30,,,10000.0,0.0
29999,-2,999900,SQUID_INK,2003,4,2002,32,,,2005,32,,,,,2004.0,4121.0

In [43]:
trades

      timestamp buyer seller            symbol   currency  price  quantity
0             0                           KELP  SEASHELLS   2002         1
1             0               RAINFOREST_RESIN  SEASHELLS   9996         1
2             0               RAINFOREST_RESIN  SEASHELLS   9996         1
3             0                      SQUID_INK  SEASHELLS   2002         1
4           100                           KELP  SEASHELLS   2002         6
...         ...   ...    ...               ...        ...    ...       ...
8388     998900                           KELP  SEASHELLS   2029         1
8389     998900                      SQUID_INK  SEASHELLS   2001         1
8390     999000                           KELP  SEASHELLS   2030         9
8391     999000                      SQUID_INK  SEASHELLS   2002         9
8392     999800               RAINFOREST_RESIN  SEASHELLS   9998         1

[8393 rows x 7 columns]